<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Weibo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FE57EE7B1D697B960012DBFE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE57EE8F1D697B970012DBFE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE57EE9A1D697B970012DBFE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
